---
alias: 
tags:
  - vocabulary
type: term
definition: the consquence/outcome of the execution of a test.
---
> [!note]- File Info
> **Created**:  `=dateformat(this.file.ctime, "DDDD, HH:mm")`
> **Modified**: `=dateformat(this.file.mtime, "DDDD, HH:mm")` 
> **Location**: `=this.file.path`