---
alias: 
tags:
  - vocabulary
type: term
definition: The process of confirming that a work product fulfills its specification
---

The process of confirming that a work product fulfills its specification

> [!note]- File Info
> **Created**:  `=dateformat(this.file.ctime, "DDDD, HH:mm")`
> **Modified**: `=dateformat(this.file.mtime, "DDDD, HH:mm")` 
> **Location**: `=this.file.path`